{
  "env": {
    "jest": true,
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "prettier", "react-hooks", "import-helpers"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".ts", ".tsx", ".js"] }
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-use-before-define": 0,
    "space-before-function-paren": 0,
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          "/^@/",
          "/^components/",
          "/^useCases/",
          "/^services/",
          "/^hooks/",
          "/^utils/",
          "/^stores/",
          "/^domains/",
          "/^converters/",
          "/^config/",
          "/^assets/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.ts", "**/*.test.tsx", "**/setupTests.ts"] }
    ],
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never"
      }
    ],
    "no-restricted-syntax": 0,
    "no-param-reassign": ["error", { "props": false }],
    "object-literal-sort-keys": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".ts", ".tsx", ".jsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "max-params": ["error", 3],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error"
  }
}
