{
  "printWidth": 100,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.feature",
      "options": {
        "parser": "cucumber"
      }
    }
  ]
}
